
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                        <link rel="stylesheet" type="text/css" href="/css/main.css">
			
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/index.html">About</a></li>
		        	<li><a href="/about/index.html">Expertise</a></li>
				<li><a href="/project.html">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="row">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<br>
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:manizha.razban@gmail.com">email</a></li>
	        		<li><a href="https://manizha01.github.io/">manizha.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
